name: Deploy Backend

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Backend Image
        run: |
          docker build -t qaiem/fyp-server:latest ./server
          docker push qaiem/fyp-server:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create Env File and Run
        run: |
          mkdir -p server
          echo "NODE_ENV=production" > server/.env
          echo "MONGODB_URI=${{ secrets.MONGODB_URI }}" >> server/.env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> server/.env
          echo "PORT=8800" >> server/.env
          echo "GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}" >> server/.env
          
          # This removes the old container before starting the new one
          docker compose down
          
          docker compose pull backend
          docker compose up -d backend