name: Deploy Frontend

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'client/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Frontend Docker Image
        run: |
          docker build \
            --build-arg VITE_APP_BASE_URL=${{ secrets.VITE_APP_BASE_URL }} \
            -t qaiem/fyp-client:latest ./client
          docker push qaiem/fyp-client:latest

  deploy:
    needs: build
    runs-on: self-hosted  # <--- This ensures it runs on your EC2
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy Frontend
        run: |
          mkdir -p server
          touch server/.env 
          
          # This line prevents the "Conflict" error in the future
          docker compose down frontend
          
          docker compose pull frontend
          docker compose up -d frontend