name: Deploy Frontend

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'client/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Frontend Image
        run: |
          docker build \
            --build-arg VITE_API_URL=http://3.111.47.71:8800/api \
            -t qaiem/fyp-client:latest ./client
          docker push qaiem/fyp-client:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy Frontend
        run: |
          # 1. Check if the file is there
          ls -R 
          
          # 2. Pull and start only the frontend service
          docker compose -f docker-compose.yml pull frontend
          docker compose -f docker-compose.yml up -d frontend